<h2>Members</h2>
<form action="/members/new">
  <input class="btn btn--action" type='submit' value="Add Member">
</form>
<table>
  <tr>
    <th>Name</th>

    <th>Age</th>

    <th>Membership Status</th>

    <th>Add to Lesson</th>

    <th>Current Lessons</th>

    <th>Change Details</th>

    <th>Remove Member</th>







  </tr>



  <% for member in @members %>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.pretty_name %></a></td>



    <td><%= member.age %></td>


    <td><%= member.status %></td>



    <td><form action="/bookings/<%= member.id %>/member_to_lesson">
      <input class="btn btn--action" type="submit" value="Add">
    </form></td>



    <td><form action="/members/<%= member.id %>/show">
      <input class="btn btn--action" type="submit" value="View">
    </form></td>



    <td><form action="/members/<%= member.id %>/edit">
      <input class="btn btn--action" type="submit" value="Edit">
    </form></td>





    <td><form action="/members/<%= member.id %>/delete">
      <input class="btn btn--action" type="submit" value="Delete">
    </form></td>



  <% end %>
    </tr>







</table>
