<h1>Lessons</h1>
<form action="/lessons/new">
<input class="btn btn--action" type='submit' value="Add Lesson">
</form>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Day/Time</th>
    <th></th>
    <th>Capacity</th>
    <th></th>
    <th>See Registered Members</th>
    <th></th>
    <th>Change Details</th>
    <th></th>
    <th>Remove Lesson</th>
    <th></th>

  </tr>
  <% for lesson in @lessons %>
  <tr>
    <td><a href="/lessons/<%= lesson.id %>"><%= lesson.title %>></a></td>
    <td>|</td>
    <td><%= lesson.day_time %></td>

    <td>|</td>
    <td><%= lesson.capacity %></td>
    <td>|</td>


    <td><form action="/lessons/<%= lesson.id %>/show">
      <input class="btn btn--action" type="submit" value="View">
      </form></td>
      <td>|</td>


    <td><form action="/lessons/<%= lesson.id %>/edit">
      <input class="btn btn--action" type="submit" value="Edit">
    </form></td>
    <td>|</td>


    <td><form action="/lessons/<%= lesson.id %>/delete">
      <input class="btn btn--action" type="submit" value="Delete">
    </form></td>
  </tr>
  <% end %>
</table>
<form action="/bookings/new">
  <input class="btn btn--action" type="submit" value="Add Member to Lesson">
  </form>
